<title>Aqui é meu site</title>

<header>
    <h1>Título do site</h1>
</header>

<section>
    <p>Aqui é o conteudo do site</p>
    <p>OI</p>
    <p>tudo bem</p>
    <p>OI</p>
    <p>PARABENS</p>
    <p>OI, {{user.nome}} tudo bm?, voce tem {{user.idade}}</p>

</section>